<!DOCTYPE html>
<html>

<head th:insert="~{base::head}"></head>

<body>
	
	<div th:replace="~{base::logo}"> </div>

	<div class="container">
		<div th:replace="~{base::title('Welcome to WideOnD!')}"></div>
		
		<nav th:replace="~{base::insideNavbar}"> </nav>
		
		<div class="card mb-3" th:each="post : ${posts}"> 
		
			<div class="card-header alert-dark"> 
					
					<h4 class="row justify-content-between">
						<span class="mx-3" th:text="${post.job.title}">Post Title</span>
						<span class="mx-4 badge badge-secondary" th:text="${post.job.deadline}">Deadline</span>
					</h4>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-12 col-sm-8 mb-3">
						<div class="font-weight-bold">Description:</div>
						<div>
							<p th:text="${post.job.description}"></p>
						</div>
						
						<div class="align-self-end d-grid gap-2 d-md-block">
						  <button class="btn btn-outline-primary" type="button">Likes: <span th:text="${post.likes}"></span></button>
						  <a target=”_blank” class="btn btn-primary" type="button" tabindex="-1" role="button" aria-disabled="true">Comments</a>
						  <a th:href="${post.job.companyWebsite}" target=”_blank” class="btn btn-primary" type="button" tabindex="-1" role="button" aria-disabled="true">Company Website</a>
						</div>
					</div>
						<div class="col-12 col-sm-4">
							<div>
								<img class="img-thumbnail" th:src="${post.job.imgDescriptionLink}" src="" />
							</div>
						</div>
				 </div>		
			</div>
		</div>
	
	</div>
	
	<div th:replace="~{base::bootstrapjs}"> </div>
</body>

</html>